@import url(./lista.css);

:root {
    --font-family: "Poppins";
    --clr-white: #f3f3f3;
    --clr-text: rgb(252, 249, 244);
    --clr-black: #222222;
    --clr-black-menu: #3a3a3a;
    --clr-list-background: papayawhip;
}

body {
    font-family: var(--font-family);
    min-height: 100vh;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5rem;
    background: var(--clr-black);
    background-repeat: no-repeat;
    color: var(--clr-text);
}

.box_container {
    min-height: 100%;
    display: flex;
    flex-flow: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem;
}

.shop_cart {
    font-size: 35px;
}

.description_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 3rem;
    padding: 1rem 0;
}

.description {
    text-align: center;
}

.input {
    border: 1px solid var(--clr-white);
    background: transparent;
    border-radius: 25px;
    padding: 1rem;
    width: -webkit-fill-available;
}

.input::placeholder{
    color: var(--clr-text);
}

.input, textarea {
    color: var(--clr-text);
}

button {
    border: none;
    padding: .5rem;
    border-radius: 6px;
    color: var(--clr-white);
}

.btn-add {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid green;
    background-color: rgb(27, 95, 27);
}